{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block title %}Página de login{% endblock %}
{% block content %}
  <h1>Tela de login</h1>
  <fieldset>
    <form action="/check_login" method="post">
      {{ form.csrf_token }}
      <tr>
        <th>{{ wtf.form_field(form.login, class='form-control', placeholder='Nome Sobrenome') }}</th>
        <td>{{ wtf.form_field(form.password, class='form-control', placeholder='******') }}</td>
        <br>
      </tr>
      {% if error %}
        <p>Usuário ou senha incorreta</p>
      {% endif%}
      {{ wtf.form_field(form.btn, class='btn btn-block btn-success') }}
    </form>
  </fieldset>
{% endblock %}
